@charset "utf-8";

.fw {

    // ----------------------------------------------------------
    // Button
    // ----------------------------------------------------------
    .a-button {
        @include width(275px);
        line-height: 40px;
        display: inline-block;
        background-color: $earth_gray;
        color: #fff;
        text-align: center;
    }


}//.fw
