@charset "utf-8";


// Width
//------------------------------------------------------------------------------

	//全体横幅
	$width_main: 1006;
	$width_main_wide: 1240;

	//サイドコンテンツ横幅
	$width_side: 220;

	//メインコンテンツ横幅
	$width_contents: 744;
