@charset "utf-8";
/* CSS Document */
#globalHeader,
#navigation,
#nlogin_form,
#pageInfo,
#Sidebar_b{
display:none;
}
#courseInfo{
display:block !important;
}
.artist_table_01 th,
.artist_table_01 td{
border:1px solid #CCCCCC !important;
}
